{
  :erlang
    {:cookie        "say_cookie"
     :sname         "say"}

  ;; -------------------------------------------------------------------------
  :sila
    {:data              {:tag       :env
                         :tracker   :all
                         :source    :tweets
                         :dir       "resources/emo-sa"}
     :all-tokens?       true                    ; Use all text tokens, even if they seem devoid of value
     :community?        false                   ; Use individual user ontologies
     :foaf?             false                   ; Link to equivalent FOAF classes
     :min-statuses      1                       ; Minimum status (tweet text) count to be in ontology
     :rand-seed         12345                   ; Seed an RNG for Weka dataset handling
     :surveys           #{}                     ; DEPRECATED: Look for links in the specified survey(s)
     :emo-system        :plutchik               ; Base emotion system: plutchik|Ekman|nil
     :use-tweebo?       false                   ; Tweebo Parser dependency trees for tweets
     :skip-neutrals?    false                   ; Do not include Texts that have no terms expressing sentiment/emotion
     :skip-profiles?    false                   ; Do not use user profiles for reasoning
     :skip-statuses?    false                   ; Do not use status texts (tweets) for reasoning
     :lexicon           :liu                    ; Options: liu|mpqa|nrc|swn
     :wordnet-dir       "/opt/wordnet/dict/"}   ; Location of WordNet dictionary

  ;; -------------------------------------------------------------------------
  :emote
    {:nlp               :english                ; Options: affective|english
     :id-index          1                       ; ARFF indices are 1-based
     :screen-name-index 3
     :full-name-index   4
     :description-index 5
     :text-index        6
     :target            "sentiment"}

  :dolce
    {:access            :minimal}               ; Options: import|hierarchy|minimal

  :cmu-pos
    {:dproperties?      false                   ; Include optional data (sub) properties (pos:hasPartOfSpeechTag)
     :oproperties?      false                   ; Include optional object (sub) properties (pos:isPartOfSpeech)
     :ignore            #{"," "~"}}

  ;; -------------------------------------------------------------------------
  :dllearner                                    ; EXTERNAL TOOL: DL-Learner
    {:exec              "/usr/local/bin/dll"
     :reasoner          :cwa                    ; Use open/closed world assumption (owa|cwa)

     ;; DL-Learner base configuration
     :alg               {:type                      :ocel                   ; Invokes config submap (below)
                         :maxExecutionTimeInSeconds 300
                         :noisePercentage           33
                         :startClass                "senti:PositiveTextCandidate"
                         :ignoredConcepts           ["senti:SentimentPolarity"]
                         :ignoredObjectProperties   ["dul:associatedWith"
                                                     "dul:hasPart"
                                                     "dul:hasQuality"]}
     :lp                {:type                      "posNegStandard"}
     :op                {:type                      "rho"
                         :useCardinalityRestrictions false}

     ;; Reasoner submaps handle Open-World vs. Closed-World assumptions
     :cwa               {:type                      "Closed World Reasoner"}
     :owa               {:type                      "OWL API Reasoner"
                         :reasonerImplementation    "hermit"}               ; Options: hermit|pellet

     ;; Algorithm submaps contain 'alg' configuration elelements which depend on :alg -> :type
     :ocel              {}
     :celoe             {:maxNrOfResults            10}}

  ;; -------------------------------------------------------------------------
  :survey
    {:survey            :sassy                  ; Active survey for checking profiles/tweets
     :min-chart-hits    5}                      ; Mininimum hit frequency to be included in report chart

  ;; -------------------------------------------------------------------------
  :tweebo
    {:dir               "resources/tweebo"}
}
;;; vim: ft=clojure:
