;; -*- mode: clojure -*-
{
  :erlang
    {:cookie        "say_cookie"
     :sname         "say"}

  :emote
    {:nlp               :english        ; Options: affective|english
     :screen-name-index 3               ; ARFF indices are 1-based
     :full-name-index   4
     :description-index 5
     :text-index-index  6}

  :dolce
    {:access            :minimal}      ; Options: import|hierarchy|minimal

  :senti
    {:pos-neg?          false          ; Assign Texts to Positive|Negative subclass
     :use-scr?          false          ; Model Bing Liu's Sentiment Composition Rules
     :num-examples      1000}          ; Use a subset until we get everything squared away
}
