dev.config
dev_sila*
dev_sila
yaws.conf
apps/say_sila/www/out
apps/say_sila/www/graph/*.png
apps/say_sila/www/status/*.etf
apps/say_sila/priv/plot/*.dat
apps/say_sila/priv/plot/*.png
rebar.lock
.rebar3
_*
.eunit
*.o
*.beam
*.*_plt
*.swp
*.swo
.erlang.cookie
ebin
erl_crash.dump
.rebar
log
logs
_build
.DS_Store
.idea
rebar3.crashdump
compile_commands.json
