%% -*- mode: erlang -*-
[
    {lager, [{log_root, "/tmp/say_sila"},
             {colored, true},
             {handlers, [{lager_console_backend, debug},
                         {lager_file_backend, [{file, "error.log"},   {level, error}]},
                         {lager_file_backend, [{file, "console.log"}, {level, info}]}]}]},

    {yaws, [{embedded, true}]},

    {say_sila, [{twitter_consumer_key,      "consumerkey"},
                {twitter_consumer_secret,   "consumersecret"},
                {twitter_access_token,      "accesstoken"},
                {twitter_access_secret,     "accesssecret"},
                {twitter_owner,             "screen_name"},
                {twitter_owner_id,          12345},
                {db_config,                 [{host,     "localhost"},
                                             {port,     5432},
                                             {user,     "dbuser"},
                                             {password, "dbpass"},
                                             {database, "sila_tweets"}]},
                {mnesia,                    [{nodes,    [nonode@nohost]}]},
                {big_percent,                0.20},
                {weka_node,                  jvm@nonode} ]}
].
