%% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {i, ["include"]},
            {parse_transform, lager_transform} ]}.

{require_otp_vsn, "1[9]"}.

{deps, [{rErlang, {git, "git://github.com/dendrown/rErlang.git",  {branch, "uqam"}}},
        {jsx,     {git, "git://github.com/talentdeficit/jsx.git", {tag,    "v2.8.2"}}},
        {lager,   {git, "git://github.com/basho/lager.git",       {tag,    "3.2.4"}}},
        {oauth,   {git, "git://github.com/tim/erlang-oauth.git",  {tag,    "v1.6.0"}}},
        {epgsql,  {git, "git://github.com/epgsql/epgsql.git",     {tag,    "3.3.0"}}} ]}.

{relx, [{release, { say_sila, "0.1.0" },
         [say_sila,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
