%% -*- mode: erlang -*-
{erl_opts, [debug_info,
            {i, ["include"]},
            {parse_transform, lager_transform} ]}.

{require_otp_vsn, "1[9]"}.

{deps, [{ecsv,    {git, "git://github.com/dendrown/ecsv.git",     {branch, "uqam"}}},
        {rErlang, {git, "git://github.com/dendrown/rErlang.git",  {branch, "uqam"}}},
        {llog,    {git, "git://github.com/dendrown/llog.git",     {branch, "uqam"}}},
       %------------------------------------------------------------------------------
        {epgsql,  {git, "git://github.com/epgsql/epgsql.git",     {tag,    "3.3.0"}}},
        {hackney, {git, "git://github.com/benoitc/hackney.git",   {branch, "1.10.1"}}},
        {jsx,     {git, "git://github.com/talentdeficit/jsx.git", {tag,    "v2.8.2"}}},
        {oauth,   {git, "git://github.com/tim/erlang-oauth.git",  {tag,    "v1.6.0"}}},
        {yaws,    {git, "git://github.com/klacke/yaws.git",       {branch, "erlang-otp-20"}}}
]}.

{overrides, [
    {override, yaws,
        [{plugins,        [{pc, {git, "https://github.com/blt/port_compiler.git", {tag, "v1.5.0"}}}]},
         {provider_hooks, [{post, [{compile, {pc, compile}},
                                   {clean,   {pc, clean}}]}]} ]}
]}.

{relx, [{release, { say_sila, "0.1.0" },
         [say_sila,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
