/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/src/say/.nrepl-port
.hgignore
.hg/
.classpath
.project
.settings/
bin/
config/*.config
java/
resources/emo-sa/*.*.arff
resources/emo-sa/*.csv
resources/emo-sa/*.edn
resources/emo-sa/*.orig
resources/dllearner/*.owl
resources/dllearner/say-senti-*.conf
resources/gender/*.csv
resources/gender/*.zip
resources/gender/pan/
resources/KB/*.owl
resources/KB/catalog-*.xml
resources/political/*.tsv
