/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.arffs.tar.gz
*.jar
*.class
/.lein-*
/.nrepl-port
/src/*/.nrepl-port
.hgignore
.hg/
.classpath
.project
.settings/
bin/
config/*.config
resources/emo-sa/*.*.arff
resources/emo-sa/*.csv
resources/emo-sa/*.edn
resources/emo-sa/*.l
resources/emo-sa/*.orig
resources/emo-sa/*.txt
resources/emo-sa/Sentiment140/*.arff
resources/emo-sa/Sentiment140/*.csv
resources/dllearner/*.owl
resources/dllearner/say-sila-*.conf
resources/dllearner/say-senti-*.conf
resources/gender/*.csv
resources/gender/*.zip
resources/gender/pan/
resources/KB/*.owl
resources/KB/catalog-*.xml
resources/political/*.tsv
resources/test/test.A??.Sentiment140.arff
resources/test/tweebo/test.A??.owl
resources/tweebo/ProfileOf*
resources/tweebo/t*
resources/world/*.edn
resources/world/*.json
resources/world/*/
